/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}
.footer {
    background-color: #f5f5f5;
    /*text-transform:uppercase !important;*/
    background-color:#333333 !important;
    position: absolute;

    bottom: 0;
    left:0;
    width: 100%;
    height: 60px;
    margin-left:0px;
    padding-left:0px;
}

.navigation{
    text-transform:uppercase !important;
    background-color:#333333 !important;
    border-radius:0px !important;
    border:0px !important;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    font-size:14pt;
    color:#dddddd !important;
}


.footer span,
.footer a,
.navigation a{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    padding-bottom: 15px;
    color:#dddddd !important;
    font-size:14pt;
    float:left;
    color:#dddddd !important;
}

.footer a,
.navigation a:hover {
    color: #fff !important;
    background-color: transparent;
    text-decoration:none;
}

.navigation_links{
    padding-left:0px;
}

.take_survey{
    font-size:20pt;
    margin-bottom:30px !important;
    color:#fff;
}

.take_survey h1{
    font-size:30pt;
}

.take_survey h3{
    font-weight:bold !important;
}

.take_survey p{
    font-style:italic !important;
}

.take_survey hr{
    visibility:hide;
}

.about_box{
    background-color: #EFFBFF !important;
}

#about-links a{
    color:#fff;
    text-decoration:underline;
    font-size:16pt;
}

.about_box{
    font-size:14pt;
    text-align:justify !important;
}

.take_survey p{
    min-height: 80px;
}

.take_survey button{
    font-size:28pt;
    border-radius:10px;
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    height: 80px;
    color: #fff;
    background-color: #A32A37;
    border-bottom-color: darkred !important;
    border-top-color: darkred !important;
    border-left-color: darkred !important;
    border-right-color: darkred !important;
}

.find_out_text{
    margin-top:10px !important;
}

.indiv_qn:not(:last-child){
    border-bottom:solid 2px;
    border-bottom-color: #c37e80 !important;
    padding-bottom:20px;
    padding-top:20px;
}

.question_box{
    min-height: 250px;
    background-color: #EFFBFF !important;
    padding: 30px;
    padding-bottom:10px;
    padding-top: 5px;
    border-radius: 25px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom: 20px;
    text-align:left;
}
.quiz_bg_box{
    border-radius: 6px;
    background-color: #ADBCC3 !important;
}

.quiz_bg_box h2{
    margin-top:30px;
    margin-bottom:30px;
    font-size:18pt;
}

.quiz_bg_box h3{
    font-weight:normal !important;
    font-size:18pt;
    /*padding-left:10px;*/
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

.option-container {
    width:100%;
    min-height:200px !important;
    padding-left: 35px !important;
    float: left;
    border-left: 2px solid rgba(150,0,0,0.5);
}

.pick_one_option_container {
    min-height:100px !important;
}
.option-container label {
    margin-left: 10px;
    max-width: 80%;
    min-width:70%;
    vertical-align: middle;
    font-size:14pt;
}

.option-container label,
.option-container input{
    margin-bottom:0.33em;
}

.importance label{
    width:100% !important;
    border-radius:0px;
}

.radio label::after,
.radio label::before,
.checkbox label::after,
.checkbox label::before {
    margin-top:4px;
}

.importance input{
    opacity: 0;
    z-index: 1;
}

.question_box h4{
    color:#A32A37 !important;
    font-weight:bold;
}

.pick_many_text{
    margin-left: -10px;
    font-weight:bold;
    text-decoration:underline;
    font-size:14pt;
}

.slider-container {
    font-size: 20px;
    width:100%;
    float: left;
    text-align: center;
    min-height:120px;
    display: block;
    margin-bottom:20px;
}

.slider-explanation p{
    font-size:12pt;
    line-height:normal;
}

.slider-val {
    font-size: 30pt;
}

.slider.slider-horizontal .slider-track {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
    height: 7px !important;
}

.slider-tick{
    background-image: linear-gradient(to bottom,#aaaaaa 0,#aaaaaa 100%) !important;
    opacity:1 !important; 
    width: 17px !important;
    height: 17px !important;
    margin-top:-5px !important;
}

.slider-handle {
    background-color: #A32A37 !important;
    background-image: none !important;
    margin-top: -15px !important;
    margin-left: -20px !important;
    width: 40px !important;
    height: 40px !important;
}

.slider-handle.round{
    /*border:solid 2px;*/
    /*border-color:#2D4255;*/
}

.slider-track-low, .slider-selection {
    color: #2E040E !important;
    background-color: #450614 !important;
    background-image: none !important;
}

.slider-track-high {
    background-color: dimgrey !important;
    background-image: none !important;
}

.demo_box{
    background-color: #EFFBFF !important;
    padding: 30px;
    padding-top: 30px;
    padding-bottom:30px;
    border-radius: 25px;
    /*margin-left:15px;*/
    /*margin-right:15px;*/
}

.demo_box form{
    font-size:12pt;
}

.demo_box select{
    font-weight:normal !important;
}

#submit {
    /*margin-left: 35%;*/
    width: 200px;
    height: 60px;
    background-color: #A32A37 !important;
    color: #fff;
    border-radius: 10px;
    font-size: 24pt;
    border-bottom-color: darkred !important;
    border-top-color: darkred !important;
    border-left-color: darkred !important;
    border-right-color: darkred !important;
    margin-bottom:20px;
}

.result_box{
    /*min-width: 100%;*/
    /*min-height: 250px;*/
    background-color: #EFFBFF !important;
    padding: 30px;
    padding-bottom:10px;
    padding-top: 5px;
    border-radius: 25px;
    /*margin-left:15px;*/
    /*margin-right:15px;*/
    margin-bottom: 10px;
}

.result_party_name, .result_party_score{
    font-size:16pt;
    margin-top:35px;
}

.result_party_score{
    font-weight:bold;
}

.result_party_img{
    margin-top:5px;
}

.result_invite{
    margin-top:20px;
    margin-bottom:10px;
    font-size:18pt;
    font-weight:bold;
}

.result_invite a{
    text-decoration:underline;
}

.share{
    margin-bottom:5px;
}

.last_share{
    margin-top:10px;
}

.share .share_text{
    font-size:16pt;
    float:left;
    margin-right:15px;
    margin-top:7px;
}

.share_btns{
    float:left;
}

.btn-whatsapp,
.btn-facebook,
.btn-twitter {
    font-size:16pt !important;
    border:0px;
    color: #fff
}

.share .whatsapp-share-button .btn{
    background-color:#57bb63;
}

.btn-whatsapp:link, .btn-whatsapp:visited {
    color: #fff
}

.btn-whatsapp:active, .btn-whatsapp:hover {
    background: #61d26a !important;
    color: #fff
}

.btn-facebook {
    background: #3b5998;
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
}

.btn-twitter {
    background: #00acee;
}

.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}

@media (max-width:992px) { 
    .footer{
        height:auto !important;
        min-width:100% !important;
        max-width:100% !important;
        padding-left:0px !important;
    }
    .footer div{
        float:left;
        min-width:100% !important;
        max-width:100% !important;
        padding-left:0px !important;
    }
    .footer .separator{
        display:none;
    }
    .share{
        margin-bottom:0px;
        margin-top:0px;
    }

    .share .share_text{
        font-size:12pt;
        font-weight:bold;
        float:left;
        margin-top:0px;
    }

    .take_survey p{
        min-height:0px;
    }

    .take_survey{
        font-size:14pt;
        margin-bottom:35px;
        margin-top:5px;
    }

    .take_survey button{
        font-size:18pt;
        min-width: 0px;
        max-width: 70%;
        height: 60px;;
    }

    .navbar .navbar-header{
        margin-right: 0;
        margin-left: 0px;
    }

    .find_out_text{
        font-size:14pt !important;
    }
    .option-container {
        border-left:none;
        /*border-top: 2px solid rgba(150,0,0,0.5);*/
        padding-top:15px;
    }
    .option-container label {
        font-size:16pt;
    }

    .question_box{
        border-radius:0px;
        margin-left:0px;
        margin-right:0px;
    }
    .quiz_bg_box{
        border-radius:0px;
        margin-left:0px;
        margin-right:0px;
    }
    .slider.slider-horizontal{
        width:190px !important;
    }
    .demo_box form{
        font-size:12pt;
    }

    .result_box{
        /*margin-left:5px;*/
        /*margin-right:5px;*/
        border-radius:5px;
    }
    .result_box p{
        font-size:12pt !important;
    }

    .result_box img{
        width:50px;
        height:50px;
    }

    .result_party_img{
        margin-top:10px;
    }

    .result_party_name, .result_party_score{
        font-size:14pt;
        margin-top:15px;
    }

    .result_invite{
        font-size:14pt;
        margin-bottom:0px;
    }

    .result_invite a{
        width:100%;
    }
    .btn-whatsapp,
    .btn-facebook,
    .btn-twitter {
        font-size:9pt !important;
        margin-top:5px;
    }

    .share_btns{
        min-width:100%;
    }

}
