@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@font-face {
	font-family:"SquareFont";
	src: url("/static/fonts/Square.ttf");
}

/*! HTML5 Boilerplate v5.3.0 */
html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.clearfix:before,
.clearfix:after {
	content: " "; 
	display: table;
}

.clearfix:after {
	clear: both;
}

html {
	position: relative;
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, span, a, label, input, button{
	font-family: 'Roboto Slab' !important;
}

h2{
	font-size:30px !important;
}

.card h2{
	color:#fff;
}

.navigation{
	text-transform:uppercase !important;
	text-align:center;
	background-color:#333333 !important;
	border-radius:0px !important;
	border:0px !important;
	position: relative;
	min-height: 50px;
	font-size:14pt;
	color:#dddddd !important;
}

.navigation a{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
	padding-bottom: 15px;
	color:#dddddd !important;
	font-size:14pt;
	float:left;
	color:#dddddd !important;
}

.navigation a:hover {
	color: #fff !important;
	background-color: transparent;
	text-decoration:none;
}

.navigation_links{
	padding-left:0px;
}

.row{
	margin-bottom:0px !important;
}

/* Index page */
.index_title{
	background-color:#993300;
	margin-top:20px;
}

.index_title h1{
	color:#fff;
	margin:0px;
	padding-top:10px;
	padding-bottom:15px;
	font-size:45pt;
	text-transform:uppercase;
	font-family:SquareFont !important;
}

.queen_image{
	max-width:100%;
	margin-top:10px;
}

.take_quiz_btn{
	margin-top:10px;
	color:#fff;
	width:400px;
	height:100px;
	padding-top:35px;
	font-family:SquareFont !important;
	font-weight:bold;
	font-size:36pt;
}

.index_btn_and_prompt h2{
	margin-top:0px;

}

.btn:hover, .btn:focus, .btn.focus{
	color:#eee !important;
}

.about_box{
	background-color: #EFFBFF !important;
}

#about-links a{
	color:#fff;
	text-decoration:underline;
	font-size:16pt;
}

.about_box{
	font-size:14pt;
	text-align:justify !important;
}


.find_out_text{
	margin-top:10px !important;
}

.qn_text{
	font-size:30pt;
	margin:0px;
}

.qn_count{
	margin-bottom:10px !important;
	text-transform:uppercase;
	font-weight:bold;
	color:#939393;
	font-size:16pt;
	margin-top:15px;
	margin-bottom:0px;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after,
[type="radio"]:not(:checked)+label:before, 
[type="radio"]:not(:checked)+label:after {
	border-color:#fff !important;
}

[type="radio"]:checked+label:after, 
[type="radio"].with-gap:checked+label:after{
	background-color:#fff;
}


.explanation{
	margin-top: 10px;
	min-height:200px;
	padding:10px;
}

.importance{
	margin-top:30px;
	margin-bottom:30px;
}

.importance label{
	color:#fff !important;
	font-weight:bold;
	margin-left:-10px !important;
}

.importance label:after{
	border-color:#fff !important;
	margin-top:5px !important;
}

.importance label:before{
	margin-top:7px !important;
}

.option_card{
	padding:0px !important;
}

.option_container {
	width:100%;
	padding-left: 35px !important;
}

.option_container label{
	width:100% !important;
	height:100% !important;
	margin-top:20px;
	margin-left:20px;
	margin-bottom:0px;
	color:#fff;
	font-size:12pt !important;
	padding-bottom:20px;
	padding-right:40px;
}

.standard_btn{
	margin-top:20px;
	margin-bottom:30px !important;
	font-size:18pt !important;
	height:60px;
	width:300px;
}

.pick_many_text{
	margin-left: -10px;
	font-weight:bold;
	text-decoration:underline;
	font-size:14pt;
}


.demo_box{
	background-color: #EFFBFF !important;
	padding: 30px;
	padding-top: 30px;
	padding-bottom:30px;
	border-radius: 25px;
}

.demo_box form{
	font-size:12pt;
}

.demo_box select{
	font-weight:normal !important;
}

.campaign .collection div{
	margin-top:10px;
	margin-bottom:10px !important;
}

.campaign img{
	height:50px;
}

.result_card{ 
	color:#fff;
	margin-top:20px !important;
	margin-bottom:20px !important;
	padding-top:10px;
	padding-bottom:20px;
}

.result_card h1{
	margin:0px;
}

.result_card h2{
	margin:0px;
}

.share{
	margin-bottom:5px;
}

.last_share{
	margin-top:10px;
}

.share .share_text{
	font-size:16pt;
}

.share_btns{
	float:left;
}

.btn-whatsapp,
.btn-facebook,
.btn-twitter {
	font-size:16pt !important;
	border:0px;
	color: #fff
}

.btn-whatsapp:link, .btn-whatsapp:visited {
	color: #fff
}

.btn-whatsapp:active, .btn-whatsapp:hover {
	color: #fff
}

.btn-facebook {
	background: #3b5998;
}
.btn-facebook:link, .btn-facebook:visited {
	color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
	background: #30477a;
}

.btn-twitter {
	background: #00acee;
}

.btn-twitter:link, .btn-twitter:visited {
	color: #fff
}

.btn-twitter:active, .btn-twitter:hover {
	background: #0087bd;
	color: #fff
}

@media (max-width:415px) { 
	.navigation a{
		padding-top:0px;
		padding-bottom:0px;
		margin-top:5px;
		margin-bottom:0px;
	}

	.like_link{
		margin-top:0px;
		margin-bottom:10px !important;
		padding-top:0px;
	}

	.standard_btn{
		width:90%;
		font-size:25pt;
	}

	.take_quiz_btn{
		width:90%;
		font-size:25pt;
	}
	
	.result_card{
		margin-bottom:0px;
	}
}

@media (max-width:992px) { 
	.container-fluid{
		padding:0px;
		width:100%;
	}

	.share{
		margin-bottom:0px;
		margin-top:0px;
	}

	.share .share_text{
		font-size:12pt;
	}

	.navbar .navbar-header{
		margin-right: 0;
		margin-left: 0px;
	}

	.index_title{
		width:100%;
		margin-top:0px;
		margin-left:0px;
		margin-right:0px;
		padding:0px !important;
	}

	.find_out_text{
		font-size:14pt !important;
	}

	.qn_count{
		margin-bottom:5px;
		font-size:14pt !important;
	}

	.qn_text{
		font-size:18pt;
		text-align:left;
	}

	.importance label{
		margin-left:10px !important;
	}

	.importance_parent{
		padding:0px !important;
	}

	.option_container {
		border-left:none;
		padding-top:15px;
		padding-left:0px !important;
		margin-right:0px !important;
	}

	.option_container label{
		margin-left:5px;
	}
	
	.option_card{
		margin-top:10px;
		margin-bottom:0px;
		border:0px !important;
		box-shadow:none;
		border-radius:0px !important;
	}

	.result_card h1{
		font-size:16pt !important;
	}

	.result_card h2{
		font-size:12pt !important;
	}

	.demo_box form{
		font-size:12pt;
	}

	.btn-whatsapp,
	.btn-facebook,
	.btn-twitter {
		font-size:9pt !important;
		margin-top:5px;
	}

	.share_btns{
		min-width:100%;
	}
}
