@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@font-face {
	font-family:"SquareFont";
	src: url("/static/fonts/Square.ttf");
}

/*! HTML5 Boilerplate v5.3.0 */
html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
	overflow-y: scroll;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.clearfix:before,
.clearfix:after {
	content: " "; 
	display: table;
}

.clearfix:after {
	clear: both;
}

html {
	position: relative;
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, span, a, label, input, button{
	font-family: 'Roboto Slab' !important;
}

h2{
	font-size:20pt !important;
}

.card h2{
	color:#fff;
}

.navigation{
	text-transform:uppercase !important;
	text-align:center;
	background-color:#333333 !important;
	border-radius:0px !important;
	border:0px !important;
	position: relative;
	min-height: 30px;
	font-size:14pt;
	color:#dddddd !important;
}

.navigation a{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
	padding-bottom: 15px;
	color:#dddddd !important;
	font-size:14pt;
	float:left;
	color:#dddddd !important;
}

.navigation a:hover {
	color: #fff !important;
	background-color: transparent;
	text-decoration:none;
}

.navigation_links{
	padding-left:0px;
}

.row{
	margin-bottom:0px !important;
}

/* Index page */
.index_title{
	background-color:#993300;
	margin-top:20px;
}

.index_title h1{
	color:#fff;
	margin:0px;
	padding-top:10px;
	padding-bottom:15px;
	font-size:45pt;
	text-transform:uppercase;
	font-family:SquareFont !important;
}

.queen_image{
	max-width:100%;
	margin-top:10px;
}

.matter_most{
	font-size:14pt;
	font-weight:bold;
}

.take_quiz_btn{
	margin-top:0px;
	color:#fff;
	width:400px;
	height:100px;
	padding-top:35px;
	font-family:SquareFont !important;
	font-weight:bold;
	font-size:36pt;
}

.index_btn_and_prompt h2{
	margin-top:30px;
	margin-bottom:10px;
}

.btn:hover, .btn:focus, .btn.focus{
	color:#eee !important;
}

#about-links a{
	color:#fff;
	text-decoration:underline;
	font-size:16pt;
}

.about_box{
	font-size:14pt;
	text-align:justify !important;
}


.find_out_text{
	margin-top:10px !important;
}

.type_card label{
	color:#000 !important;
}

.impt_types{
	text-align:left;
	padding-left:70px !important;
	margin-top:10px;
}

.qn_text{
	font-size:28pt;
	margin:0px;
	margin-bottom:10px;
}

.qn_count{
	margin-bottom:10px !important;
	text-transform:uppercase;
	font-weight:bold;
	color:#939393;
	font-size:16pt;
	margin-top:15px;
	margin-bottom:0px;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after,
[type="radio"]:not(:checked)+label:before, 
[type="radio"]:not(:checked)+label:after {
	border:#2196f3;
	display:none;
}

[type="radio"]:checked+label:after, 
[type="radio"].with-gap:checked+label:after{
	background-color:#2196f3;
	border:0px;
	display:none;
}

.progress{
	height:5px !important;
}

.explanation{
	margin-top: 10px;
	min-height:200px;
	padding:0px;
}

.explanation .collapsible-header p{
	line-height:1.4em;
	padding-top:10px;
	padding-bottom:10px;
}

.explanation .collapsible-header i{
	float:right;
	font-size:12pt;
}

.expln_remain{
	border-right:solid 1px;
	border-color:#afafaf;
}

.experts{
	margin-bottom:10px;
}

.experts h3 i{
	float:right;
}

.experts .collapsible{
	box-shadow:none;
}

.experts .collapsible-header{
	padding-bottom:10px;
	font-weight:bold;
}

.expert_name{
	font-weight:bold;
	font-size:12pt;
}

.expert_name{
	padding-bottom:10px !important;
}

.expert_view{
	font-size:10pt;
	margin: 20px 0;
	padding-left: 1.5rem;
	border-left: 5px solid #ee6e73;
	margin-left:20px;
	margin-top:0px;
}

.expert_source{
	margin-left:50px;
	margin-top:0px !important;
}

.legend p{
	padding-top:10px;
	padding-bottom:10px;
}

.show_expln_btn_parent{
	padding-left:0px !important;
}

.option_card{
	padding:0px !important;
}

.option_card label:before{
	display:none;
}

.option_container {
	cursor:pointer !important;
}

.option_container label{
	height:100% !important;
	margin-top:20px;
	margin-left:20px !important;
	margin-bottom:0px;
	padding-bottom:20px;
	color:#fff;
	font-size:14pt !important;
	font-weight:normal;
}

.r_label{
	padding-left:10px !important;
	padding-right:40px;
}

.standard_btn{
	margin-top:20px;
	margin-bottom:30px !important;
	font-size:18pt !important;
	height:60px;
	width:300px;
}

.pick_many_text{
	margin-left: -10px;
	font-weight:bold;
	text-decoration:underline;
	font-size:14pt;
}

.campaign img{
	height:50px;
}

.campaign h3{
	font-size:14pt;
	text-align:center;
	font-weight:bold;
}

.demo_form .caret{
	border:none;
}

#consti_filler{
	display:none;
}

.before_taking .select-wrapper ul li{
	font-size:10pt !important;	
}


.result_card{ 
	color:#fff;
	margin-top:20px !important;
	margin-bottom:0px !important;
	padding-top:10px;
	padding-bottom:20px;
}

.result_card h1{
	margin:0px;
}

.result_card h2{
	margin:0px;
}

.how_to_vote{
	margin-top:30px;
} 

.share_btns{
	margin-top:30px;
}

.input-field{
	margin-top:0px !important;
}

#thank_you{
	display:none;
	margin-top:30px;
}
#thank_you p{
	text-align:center;
}

.demo_submit_btn{
	font-size:18pt !important;
	width:100%;
	height:49px;
	margin-top:0px;
}

.where_stand{
	margin-top:40px;
}

.share{
	margin-bottom:5px;
}

.last_share{
	margin-top:10px;
}

.share .share_text{
	font-size:16pt;
}

.btn-whatsapp,
.btn-facebook,
.btn-twitter {
	font-size:16pt !important;
	border:0px;
	color: #fff
}

.btn-whatsapp:link, .btn-whatsapp:visited {
	color: #fff
}

.btn-whatsapp:active, .btn-whatsapp:hover {
	color: #fff
}

.btn-facebook {
	background: #3b5998;
}
.btn-facebook:link, .btn-facebook:visited {
	color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
	background: #30477a;
}

.btn-twitter {
	background: #00acee;
}

.btn-twitter:link, .btn-twitter:visited {
	color: #fff
}

.btn-twitter:active, .btn-twitter:hover {
	background: #0087bd;
	color: #fff
}

@media (max-width:415px) { 
	.navigation a{
		padding-top:0px;
		padding-bottom:0px;
		margin-top:5px;
		margin-bottom:0px;
	}

	.type_item{
		margin-top:5px;
	}

	.like_link{
		margin-top:0px;
		margin-bottom:10px !important;
		padding-top:0px;
	}

	.queen_image_parent{
		padding-left:0px !important;
		padding-right:0px !important;
	}

	.queen_image_parent h2{
		padding-left:5px;
		padding-right:5px;
	}

	.standard_btn{
		width:90%;
		font-size:25pt;
	}

	.take_quiz_btn{
		width:90%;
		font-size:25pt;
	}

	.legend p br{
		display:inline;
	}
	
	.result_card{
		margin-bottom:0px;
	}

	#consti_filler{
		height:800px;
		z-index:-1;
	}

	.share_btns .share_site{
		display:none;
	}
}

@media (max-width:992px) { 
	.container-fluid{
		padding:0px;
		width:100%;
	}

	.share{
		margin-bottom:0px;
		margin-top:0px;
	}

	.share .share_text{
		font-size:12pt;
	}

	.navbar .navbar-header{
		margin-right: 0;
		margin-left: 0px;
	}

	.index_title{
		width:100%;
		margin-top:0px;
		margin-left:0px;
		margin-right:0px;
		padding:0px !important;
	}

	.find_out_text{
		font-size:14pt !important;
	}

	.qn_count{
		margin-bottom:5px;
		font-size:14pt !important;
	}

	.qn_text{
		font-size:18pt;
		text-align:left;
		margin-bottom:5px;
	}

	.expln_remain h2{
		text-align:left !important;
	}

	.expln_remain, .expln_leave{
		border:0px;
	}

	.expln_remain h2, .expln_leave h2{
		padding-left:20px;
		font-size:14pt !important;
		margin-bottom:5px;
		font-weight:bold;
	}

	.importance{
		margin-top:20px !important;
		margin-bottom:5px !important;
	}

	.impt_types{
		padding-left:0px !important;
	}

	.importance label{
		margin-left:10px !important;
		margin-top:0px;
		padding-right:10px !important;
	}

	.importance_parent{
		padding:0px !important;
	}

	.option_container {
		border-left:none;
		padding-top:15px;
		padding-left:0px !important;
		margin-right:0px !important;
	}

	.option_container label{
		margin-left:5px;
	}
	
	.option_card{
		margin-top:10px;
		margin-bottom:0px;
		border:0px !important;
		box-shadow:none;
		border-radius:0px !important;
	}

	.where_stand{
		font-size:14pt !important;
		margin-top:20px;
		margin-bottom:0px;
	}

	.result_card h1{
		font-size:16pt !important;
	}

	.result_card h2{
		font-size:12pt !important;
	}

	.campaign .collection {
		margin-bottom:5px !important;
		border:0px;
		padding-bottom:5px;
		border-bottom: 1px solid #e0e0e0;
	}

	.consti_select_parent input.select-dropdown,
	.intention_select_parent input.select-dropdown{
		font-size:9pt;
	}

	.no_bottom_border{
		border-bottom:0px !important;
	}

	.btn-whatsapp, .btn-facebook, .btn-twitter {
		font-size:9pt !important;
		margin-top:5px;
	}
}
