{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block head %}
<style>
body{
    /*background-color: #2D4255 !important;*/
    background-color: #adbcc3 !important;
    background-image:none !important;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="quiz_bg_box col-md-8 col-md-offset-2 text-center">
        <h1>About ______</h1>
        <br />
        <div class="question_box row about_box">
        <br />

            <h2>The Team</h2> 
            <ul> 
            </ul>
        </div>
    </div>
</div>

{% endblock %}
