{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block head %}
<style>
body{
    background-color: #2D4255 !important;
    background-image:none !important;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="quiz_bg_box col-md-8 col-md-offset-2 text-center">
        <h1>About Electionance</h1>
        <div class="question_box row about_box">
            <br />

            <p>Electionance finds out how much each of the four major political
            parties contesting in the 2016 West Bengal State Elections thinks
            like you. It is a platform for people to think about their own
            political stances and how much that aligns with the parties they
            support, oppose, or don’t care about. We hope to spark informed and
            productive political discussions through greater awareness of
            policies and proposals.</p>

            <p>Electionance thanks the <a
                href="http://www.electionaire.info">Electionaire</a> team for
            their permission to adapt and modify their site. Many parts of
            Electionance, such as its source code, its research process, and
            this page were adapted from Electionaire.</p>

            <p>Electionance is not supported, funded or aligned with any
            political party.</p>

            <p>Questions? Email us: <a
                href="mailto:contact@electionance.com">contact@electionance.com</a></p>

            <h2>Electionance is anonymous.</h2>

            <p>Unless you fill out our demographic survey in the results page,
            the site does not ask for identifying information or log IP
            addresses. We use Google Analytics to track site traffic, but we do
            not identify individual users. Only you know your responses, unless
            you choose to share them with your friends. </p>

            <h2>Electionance strives to be objective.</h2>

            <p>The team carefully read the most recent manifestoes of the AITC,
            BJP, CPM, and INC to choose topics and questions that voters care
            about. We also tried our best to keep the questions and choices
            relevant and timely. We assigned scores to each party’s positions
            on each question, and sought advice from people familiar with the
            topics. It is impossible to accurately quantify policy positions
            into a simple quiz, but we strove to make the quiz as objective and
            accurate as possible.</p>

            <h2>How Electionance calculates your scores</h2>

            <p>We examined party manifestos and public statements and
            identified each party’s stance on each question. If a clear stance
            was not explicitly available, the team tried to find a quote on a
            related topic. If the team could not find a related quote, the team
            marked the stance as “No position”. See the spreadsheet <a
            href="https://docs.google.com/spreadsheets/d/1oS_sozftyA-XhPNFy89r4fef6oYg7iuLP_DzUCtpNJE/edit?usp=sharing">here</a>.</p>

            <p>We scored the parties on a scale of -4 to 4 for their agreement
            with each question. -4 is strong disagreement, 0 is neutrality or
            no position, and 4 is strong agreement.</p>
            
            <p>Users’ answers are then compared with the parties’ ratings. The
            degree of difference between your answers and the parties’ average
            ratings is then weighted according to the degree of importance you
            indicated for each question. This deviation is then calculated into
            a percentage.  The exact algorithm is as follows:</p>

<pre>
Total Deviation = Sum of (weight of each question as set by user) * (party value - user's value) for questions 1 to 15 

Final percentage = 100 - total deviation / (max possible total deviation - min
possible deviation)
</pre>

            <h2>The Team</h2> <ul> <li />Shalmoli Halder, Yale University ‘15
                <li />Koh Wei Jie, Yale-NUS College ‘17 </ul>

            <h2>Acknowledgements</h2> <p>Electionance would not have been
            possible without support and advice from the following friends and
            classmates.</p>

            <h2>Logo Credit</h2> <p><a
                href="https://thenounproject.com/term/checklist/428587">Checklist</a>
            by David from the Noun Project.</p>

        </div>
    </div>
</div>

{% endblock %}
