{% extends "layout.html" %}
{% block head %}

	<script type="text/javascript" src="/static/js/constituencies.js"></script>
	<script type="text/javascript" src="/static/js/materialize_autocomplete.js"></script>
	<link rel="stylesheet" href="/static/css/materialize_autocomplete.css">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="input-field col-md-4">
			<label class="active">State</label>
			<input type="text" id="autocompleteState" class="autocomplete inputFields">

		</div>
	</div>


	<script>

$('#autocompleteState').data('array', get_constituencies());
	</script>
{% endblock %}
