{% extends "layout.html" %}
{% block title %}{{trans["index"]["title"]["en"]}}{% endblock %}
{% block head %}
<meta property="og:image" content="{{fb_share_image}}" />
<meta property="og:url" content="{{request.base_url}}" />
<meta property="fb:app_id" content="TODO: FB ID" />
<meta property="og:description" content="TODO: DESC"/>
<style>
body{
}
</style>
{% endblock %}

{% block content %}
<div class="row take_quiz text-center">
    <div class="col-md-6 col-md-offset-3 index_title">
        <h1>{{trans["index"]["quiz_title"]["en"]}}</h1>

    </div>
    <div class="col-md-6 col-md-offset-3">
        <a href="/quiz/">
            <img src="/static/img/index.png" class="queen_image" alt="What's your cup of tea?"/>
        </a>
    </div>
    <div class="col-md-4 col-md-offset-4 index_btn_and_prompt">
        <!--TODO: change to button-->
        <a href="/quiz">
            <button class="btn blue lighten-1 standard_btn"
                type="button">
                {{trans["index"]["take_quiz"]["en"]}}
            </button>
            <h2>to find out where you stand on the EU Referendum.</h2>
        </a>
    </div>
</div>
{% endblock %}
