{% extends "layout.html" %}

{% block title %}What's your cup of tea?{% endblock %}

{% block head %}
<meta property="og:image" content="{{fb_share_image}}" />
<meta property="og:url" content="{{request.base_url}}" />
<meta property="fb:app_id" content="227700440926159" />
<meta property="og:description" content="Remain or leave - What's your cup of tea?"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css" />
</script>
{% endblock %}

{% block content %}
<div class="font_preload" style="opacity: 0">
    <span style="font-family:FontAwesome;"></span>
</div>

<div class="row text-center">
    <h2 class="qn_count">Question {{qn_id + 1}} of {{num_qns}}</h2>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="qn_text">{{question["text"]}}</h1>
    </div>
</div>
{# Submit to /results if it's the last qn, else submit to /quiz/n+1 #}
{% if qn_id == num_qns - 1 %}
<form method="POST" action="/results" id="quiz_form">
{% else %}
<form method="POST" action="/quiz/" id="quiz_form">
{% endif %}
    {# Expln #}
    <div class="row explanation">
        <div class="col-md-4 col-md-offset-4">
            <div id="expln_preload" class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-2 expln_remain">
            <div class="col-md-12 text-right expln_side">
                <h2>Remain</h2>
                <ul id="remain_ul" class="collection text-left">
                </ul>
            </div>
        </div>

        <div class="col-md-4 expln_leave">
            <div class="col-md-12 text-left expln_side">
                <h2>Leave</h2>
                <ul id="leave_ul" class="collection text-">
                </ul>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-5 col-sm-10 col-sm-offset-1 legend">
            <p>
                <i class="fa fa-check"></i> &nbsp;Agrees with the above <br />
                <i class="fa fa-minus"></i> &nbsp;No mention <br />
                <i class="fa fa-times"></i> &nbsp;Disagrees with the above
            </p>
        </div>

        {#
        <div class="col-md-12 experts">
            <h3>What the experts have to say</h3>
        </div>
        #}

        <div class="col-md-offset-0 col-md-12 text-center">
            <div class="col-md-offset-0 col-md-12 show_expln_btn_parent">
                <button type="submit" 
                        class="btn red lighten-1 standard_btn show_expln_btn">
                    {% if qn_id == num_qns - 1 %}
                        View my results
                    {% else %}
                        Next Question
                    {% endif %}
                </button>
            </div>
        </div>
    </div>

    <input type="hidden" name="qn_id" value="{{qn_id}}" />

    {# Controls #}
    <div id="quiz_controls">
        <div class="row">
            {# Selects #}
            <div class="col-md-6 col-md-offset-3">
                <div class="pick_one_option_container option_container">
                    {% for c in question.options %}
                        {% set input_id = "radio_" ~ qn_id ~ "_" ~ loop.index0 %}
                        {% set name = "radio_" ~ qn_id %}
                        <div class="row">
                            <div class="option_radio option_card card-panel blue">
                                <input id="{{input_id}}" 
                                class="with-gap"
                                name="{{name}}" 
                                value="{{loop.index0}}" 
                                type="radio" />
                                <label for="{{input_id}}" class="r_label">{{c.text}}</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block bottom %}
    <script type='text/javascript'>
        var submit_form = function(){
            $("#quiz_form").submit();
        }

        var add_agreement = function(type, name, agreement){
            var str = '<li class="collection-item"> ' + name + '<span class="agree_symbol" style="float:right;">';

            if (agreement == "2"){ // agree
                str += '<i class="fa fa-check" aria-hidden="true"></i>';
            }
            else if (agreement == "1"){ // disagree
                str += '<i class="fa fa-times" aria-hidden="true"></i>';
            }
            else if (agreement == "0"){ // no mention
                str += '<i class="fa fa-minus" aria-hidden="true"></i>';
            }
            str += '</span></li>';

            if (type == "remain"){
                $("#remain_ul").append(str);
            }
            else if (type == "leave"){
                $("#leave_ul").append(str);
            }
        }

        $(document).ready(function() {
            // hide all expln divs at the start
            $(".explanation").hide();

            // hide radio buttons
            document.styleSheets[0].addRule(".option_card label:before",
                                            "display:none");
            var has_selected = false;

            // click anyware on option_card to select radio and show the expln
            $(".option_radio").click(function(){
                $("#quiz_controls").hide();
                $(".explanation").show();
                $("#ok_btn").hide();

                //if ($("#remain_ul").children().length == 0){
                if (!has_selected){
                    has_selected = true;
                    if (! $(input).prop("checked")){
                        var input = $(this).find("input")[0];
                        $(input).prop("checked", true);
                        var option_num = $(input).attr("id").split("_")[2];
                        var qn_id = $(input).attr("name").split("_")[1];


                        // retrieve agreement relative to the qn
                        $.getJSON("/_agreement", {
                            qn_id:qn_id,
                            option_num: option_num }, 
                            function(data){
                                $("#expln_preload").hide();
                                var remain = data["remain_agreement"];
                                for (r in remain){
                                    var d = remain[r];
                                    var name = d["campaign_name"];
                                    var agreement = d["agreement"];
                                    add_agreement("remain", name, agreement);
                                }

                                var leave = data["leave_agreement"];
                                for (r in leave){
                                    var d = leave[r];
                                    var name = d["campaign_name"];
                                    var agreement = d["agreement"];
                                    add_agreement("leave", name, agreement);
                                }
                            }
                        );

                    }
                }
            });
        });
    </script>
{% endblock %}
