{% extends "layout.html" %}

{% block title %}{{trans["quiz"]["title"][lang]}}{% endblock %}

{% block head %}
<meta property="og:image" content="{{fb_share_image}}" />
<meta property="og:url" content="{{request.base_url}}" />
<meta property="fb:app_id" content="227700440926159" />
<meta property="og:description" content="{{trans["quiz"]["title"][lang]}}"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/css/bootstrap-slider.min.css" />

<script type="text/javascript" 
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js">
</script>

</script>
{% endblock %}

{% block content %}
<div class="font_preload" style="opacity: 0">
    <span style="font-family:FontAwesome;"></span>
</div>

<div class="row text-center">
    <h2 class="qn_count">Question {{qn_id + 1}} of {{num_qns}}</h2>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="qn_text">{{question["text"][lang]}}</h1>
    </div>
</div>

<form method="POST" action="/quiz/{{qn_id}}">
    <!-- Controls -->
    <div class="row">
        <!-- Slider -->
        <div class="col-md-3 col-md-offset-2">
            <div class="slider-container">
                <div class="slider slider-horizontal">
                    <span class="slider-val" id="slider_val_{{qn_id}}">3</span>
                    <input id="slider_{{qn_id}}" name="slider_{{qn_id}}" type="text" 
                           data-slider-min="1" data-slider-max="5" 
                           data-slider-step="1" data-slider-value="3" />
                </div>
            </div>
            <div class="slider_explanation text-center">
                <p>{{trans["quiz"]["drag_dot"][lang]}}<br />
                {{trans["quiz"]["low_high"][lang]}}</p>
            </div>
        </div>

        <br />
        <!-- Selects -->
        <div class="col-md-7">
            <div class="pick_one_option_container option-container">
                {% for c in question.choices %}
                    {% set input_id = "radio_" ~ q_id ~ "_" ~ loop.revindex0 %}
                    {% set name = "radio_" ~ q_id %}
                    <div class="row">
                        <div class="col-md-7 option-card card-panel blue">
                            <input id="{{input_id}}" name="{{name}}" 
                            class="with-gap"
                            value="{{loop.revindex0}}" 
                            type="radio" />

                            <label for="{{input_id}}">{{c[lang]}}</label>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <!-- Expln -->
    <div class="row">
        <div class="col-md-offset-2 col-md-8 explanation">
            <p>
            The campaigns' positions will appear here.
            </p>
            <button class="next_qn_btn" type="button" data-q-id="{{qn_id}}">OK</button>
        </div>
    </div>
</form>
{% endblock %}

{% block bottom %}
    <!--Bootstrap Slider JS-->
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/bootstrap-slider.min.js"></script>
    <!--<script type='text/javascript' src="/static/js/bootstrap-slider.min.js"></script>-->

    <script type='text/javascript'>
        $(document).ready(function() {
            // Slider functions
            var s = $("#slider_{{qn_id}}");
            var set_slider_val = function(id, val){
                $("#slider_val_" + id).text(val);
            }

            $("#slider_{{qn_id}}").slider({tooltip:"hide", "ticks":[1,2,3,4,5]});
                $("#slider_{{qn_id}}").on("slideStop", function(slideEvt) {
                    set_slider_val({{qn_id}}, slideEvt.value);
                    });
                $("#slider_{{qn_id}}").on("slide", function(slideEvt) {
                    set_slider_val({{qn_id}}, slideEvt.value);
            });

            // hide all expln divs at the start
            $(".explanation").hide();

            // show explanation action
            $(".show_expln_btn").click(function(){
                $(".explanation").show();
            });

        });
    </script>
{% endblock %}

{% block posthtml %}
<!--FontAwesome-->
<!--<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css" />-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
{% endblock %}
