{% extends "layout.html" %}
{% block title %}Survey{% endblock %}
{% block head %}

<!--Bootstrap slider-->
<!--<link href="/static/css/bootstrap-slider.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/css/bootstrap-slider.min.css" />

<!--Awesome bootstrap checkbox-->
<!--<link href="/static/css/awesome-bootstrap-checkbox.css" rel="stylesheet">-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.5/awesome-bootstrap-checkbox.min.css" rel="stylesheet" />
<style>
body{
    background-color: #2D4255 !important;
    background-image:none !important;
}
</style>
{% endblock %}
{% block content %}
<div class="font_preload" style="opacity: 0">
    <span style="font-family:FontAwesome;"></span>
</div>

<div class="row">
    <div class="quiz_bg_box col-md-8 col-md-offset-2 text-center">
        <div class="row">
            <h2>Answer these questions to find out how each political party thinks like you.</h2>
        </div>
        <div class="row">
            <form method="POST" action="/survey">
                {% for q in questions %}
                <div class="row question_box">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{ q.text }}</h3>
                        </div>
                    </div>
                    <div class="row question_controls">
                        <div class="col-md-3">
                            <div class="slider-container">
                                <div class="slider slider-horizontal">
                                    <span class="slider-val" id="{{q.id}}_slider_val">3</span>
                                    <input id="{{q.id}}_slider" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                    data-slider-value="3" name="1"/>
                                </div>
                            </div>
                            <div class="slider-explanation text-center">
                                <p>Tap or drag the red dot to select how important this is to you.<br />
                                (1 = low, 5 = high)</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                        {% if q.type == "pick_one" %}
                            <div class="option-container radio radio-success">
                                {% for c in q.choices %}
                                {% set input_id = q.id ~ "_" ~ loop.index0 %}
                                <input id="{{input_id}}" type="radio" name="1" /><label for="{{input_id}}">{{c}}</label>
                                    <br />
                                {% endfor %}
                            </div>
                        {% elif q.type == "pick_many" %}
                            <div class="option-container checkbox checkbox-success">
                                <div class="pick_many_text">
                                    <p>Pick as many as you want:</p>
                                </div>
                                {% for c in q.choices %}
                                {% set input_id = q.id ~ "_" ~ loop.index0 %}
                                <input id="{{input_id}}" type="checkbox" name="1" value="4" class="styled"><label for="{{input_id}}">{{c}}</label>
                                <br />
                                {% endfor %}
                            </div>
                        {% endif %}
                        </div>
                    </div>

                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-12">
                        <button id="submit" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom %}
    <!--Bootstrap Slider JS-->
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/bootstrap-slider.min.js"></script>
    <!--<script type='text/javascript' src="/static/js/bootstrap-slider.min.js"></script>-->

    <script type='text/javascript'>
    $(document).ready(function() {
    {% for q in questions %}
        $("#{{q.id}}_slider").slider();
        $("#{{q.id}}_slider").on("slideStop", function(slideEvt) {
            $("#{{q.id}}_slider_val").text(slideEvt.value);
            });
        $("#{{q.id}}_slider").on("slide", function(slideEvt) {
            $("#{{q.id}}_slider_val").text(slideEvt.value);
            });
    {% endfor %}
        });
    </script>
{% endblock %}

{% block posthtml %}
<!--FontAwesome-->
<!--<link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css" />-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous"
integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" />
{% endblock %}
