{% extends "layout.html" %}
{% block title %}Survey{% endblock %}
{% block head %}
<link href="/static/css/bootstrap-slider.min.css" rel="stylesheet">
<link href="/static/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style>
body{
    background-color: #2D4255;
    background-image:none;
}
</style>
{% endblock %}
{% block content %}

<div class="row">
    <div class="quiz_bg_box col-md-8 col-md-offset-2 text-center">
        <div class="row">
            <h2>Take the survey to find out which party your views align with.</h2>
        </div>

        <form method="POST" action="/survey">
            <div class="row question_box">
                <div class-"row question_text">
                    <h3>Are tapoica balls essential to bubble tea?</h3>
                </div>

                <div class-"row question_controls">
                    <div class="col-md-4 text-center">
                        <div class="slider-explanation">
                            <p>How important is this issue to you?</p>
                            <p>(1 = low, 5 = high)</p>
                        </div>
                        <div class="slider-container">
                            <div class="slider slider-horizontal">
                                <span class="slider-val" id="ex1SliderVal">3</span>
                                <input id="ex1" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                data-slider-value="3" name="1"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="option-container radio radio-success">
                            <input id="a1" type="radio" name="1" value="4" /><label for="a1">Yes.</label>
                            <br />
                            <input id="a2" type="radio" name="1" value="3" /><label for="a2">Yes, but I like the tea too.</label>
                            <br />
                            <input id="a3" type="radio" name="1" value="2" / ><label for="a3">Neutral.</label>
                            <br />
                            <input id="a4" type="radio" name="1" value="1" / ><label for="a4">No, but I don't mind chewing them.</label>
                            <br />
                            <input id="a5" type="radio" name="1" value="0" / ><label for="a5">No.</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row question_box">
                <div class-"row question_text">
                    <h3>What would you like in your bubble tea?</h3>
                </div>

                <div class-"row question_controls">
                    <div class="col-md-4 text-center">
                        <div class="slider-explanation">
                            <p>How important is this issue to you?</p>
                            <p>(1 = low, 5 = high)</p>
                        </div>
                        <div class="slider-container">
                            <div class="slider slider-horizontal">
                                <span class="slider-val" id="ex2SliderVal">3</span>
                                <input id="ex2" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                data-slider-value="3" name="1"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="option-container checkbox checkbox-success">
                            <input id="b1" type="checkbox" name="1" value="4" class="styled"><label for="b1">Extra sugar.</label>
                            <br />
                            <input id="b2" type="checkbox" name="1" value="3" class="styled"><label for="b2">Tapoica pearls.</label>
                            <br />
                            <input id="b3" type="checkbox" name="1" value="2" class="styled"><label for="b3">Ai-yu jelly.</label>
                            <br />
                            <input id="b4" type="checkbox" name="1" value="1" class="styled"><label for="b4">White pearls.</label>
                            <br />
                            <input id="b5" type="checkbox" name="1" value="0" class="styled"><label for="b5">Less sugar.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button id="submit" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% block bottom %}
<script type='text/javascript' src="/static/js/bootstrap-slider.min.js"></script>
<script type='text/javascript'>
$(document).ready(function() {
        $("#ex1").slider();
        $("#ex1").on("slideStop", function(slideEvt) {
            $("#ex1SliderVal").text(slideEvt.value);
            });
        $("#ex1").on("slide", function(slideEvt) {
            $("#ex1SliderVal").text(slideEvt.value);
            });

        $("#ex2").slider();
        $("#ex2").on("slideStop", function(slideEvt) {
            $("#ex2SliderVal").text(slideEvt.value);
            });
        $("#ex2").on("slide", function(slideEvt) {
            $("#ex2SliderVal").text(slideEvt.value);
            });
        });
</script>
{% endblock %}
{% endblock %}
