{% extends "layout.html" %}
{% block title %}Survey{% endblock %}
{% block content %}
<p style="white-space:pre">
If they answer not to your call walk alone
If they are afraid and cower mutely facing the wall,
O thou unlucky one,
open your mind and speak out alone.
If they turn away, and desert you when crossing the wilderness,
O thou unlucky one,
trample the thorns under thy tread,
and along the blood-lined track travel alone.
If they shut doors and do not hold up the light when the night is troubled with storm,
O thou unlucky one,
with the thunder flame of pain ignite your own heart,
and let it burn alone.
</p>
{% endblock %}
