{% extends "layout.html" %}
{% block title %}Survey{% endblock %}
{% block content %}
<p style="white-space:pre-line">
तेरी आवाज़ पर कोई ना आये तो फिर चल अकेला रे
फिर चल अकेला चल अकेला चल अकेला चल अकेला रे
ओ तू चल अकेला चल अकेला चल अकेला चल अकेला रे

तेरी आवाज़ पे कोई ना आये तो फिर चल अकेला रे
फिर चल अकेला चल अकेला चल अकेला चल अकेला रे

यदि कोई भी ना बोले ओरे ओ रे ओ अभागे कोई भी ना बोले
यदि सभी मुख मोड़ रहे सब डरा करे
तब डरे बिना ओ तू मुक्तकंठ अपनी बात बोल अकेला रे
ओ तू मुक्तकंठ अपनी बात बोल अकेला रे

तेरी आवाज़ पे कोई ना आये तो फिर चल अकेला रे

यदि लौट सब चले ओरे ओ रे ओ अभागे लौट सब चले
यदि रात गहरी चलती कोई गौर ना करे
तब पथ के कांटे ओ तू लहू लोहित चरण तल चल अकेला रे

तेरी आवाज़ पे कोई ना आये तो फिर चल अकेला रे

यदि दिया ना जले ओरे ओ रे ओ अभागे दिया ना जले
यदि बदरी आंधी रात में द्वार बंद सब करे
तब वज्र शिखा से तू ह्रदय पंजर जला और जल अकेला रे
ओ तू हृदय पंजर चला और जल अकेला रे

तेरी आवाज़ पे कोई ना आये तो फिर चल अकेला रे
फिर चल अकेला चल अकेला चल अकेला चल अकेला रे
ओ तू चल अकेला चल अकेला चल अकेला चल अकेला रे
</p>
{% endblock %}
